.big-container-villain {
  display: flex;
}

.left-container-villain {
}

.search-villain {
  background: url("https://i.imgur.com/aetLSnC.jpg") no-repeat;
  background-size: 38vw 25vh;
  height: 25vh;
  border: 4px solid black;
  width: 35vw;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.search-bar-villain {
  border: black 5px solid;
  height: 5vh;
  width: 20vw;
  margin-top: 9vh;
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
}

.results-maybe-villain {
  background: url("https://i.imgur.com/pPtBntW.jpg") center right no-repeat;
  background-size: 60vw;
  height: 25vh;
  border: 4px solid black;
  width: 35vw;
  margin: 5px;
}

.suggestions-villain {
  background: url("https://i.imgur.com/I8wfIdv.png") no-repeat center left,
    url("https://i.imgur.com/7hkymGi.png") no-repeat center right,
    url("https://i.imgur.com/KD6drix.jpg") no-repeat;
  background-size: 15vw 22vh, 15vw 22vh, 38vw 25vh;
  height: 25vh;
  border: 4px solid black;
  width: 35vw;
  margin: 5px;
}

.villain-details {
  border: 4px solid black;
  width: 63vw;
  margin: 5px;
  display: flex;
  background: url("https://i.imgur.com/BfbX2XU.png") left,
    url("https://i.imgur.com/bjDO3oT.jpg") left;
  background-repeat: no-repeat;
  background-size: 80vw 110vh, 100vw 100vh;
}

.villain-details img {
  height: 73vh;
  margin: 5px;
}

.villain-details div {
  margin-top: 10px;
}

.question {
  font-size: 22px;
  height: 2vh;
}

.answer {
  font-size: 30px;
  color: green;
}
.background p {
  margin-top: 3vh;
}

.origin p {
  margin-top: 8vh;
}

.background span {
  font-size: 20px;
}

.multiple-btn {
  display: flex;
  justify-content: flex-end;
  width: 30vw;
}
.edit-character {
  border: black solid 3px;
  background: none;
  height: 3vh;
  width: 13vw;
  font-size: 18px;
  font-family: "Permanent Marker", cursive;
  box-shadow: 10px 5px;
}

.facts {
  /* border: 2px solid green; */
  height: 60vh;
}

@media only screen and (max-width: 1000px) {
  .big-container-villain {
    display: flex;
    flex-flow: column nowrap;
  }

  .left-container-villain {
    display: flex;
  }

  .search-villain {
    background: url("https://i.imgur.com/aetLSnC.jpg") no-repeat;
    background-size: 38vw 25vh;
    height: 25vh;
    border: 4px solid black;
    width: 35vw;
    margin: 5px;
    display: flex;
    justify-content: center;
  }

  .search-bar-villain {
    border: black 5px solid;
    height: 5vh;
    width: 20vw;
    margin-top: 9vh;
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
  }

  .results-maybe-villain {
    background: url("https://i.imgur.com/pPtBntW.jpg") center right no-repeat;
    background-size: 60vw;
    height: 25vh;
    border: 4px solid black;
    width: 35vw;
    margin: 5px;
  }

  .suggestions-villain {
    background: url("https://i.imgur.com/I8wfIdv.png") no-repeat center left,
      url("https://i.imgur.com/7hkymGi.png") no-repeat center right,
      url("https://i.imgur.com/KD6drix.jpg") no-repeat;
    background-size: 15vw 22vh, 15vw 22vh, 38vw 25vh;
    height: 25vh;
    border: 4px solid black;
    width: 35vw;
    margin: 5px;
  }

  .villain-details {
    border: 4px solid black;
    width: 100%;
    margin: 5px;
    display: flex;
    background: url("https://i.imgur.com/BfbX2XU.png") left,
      url("https://i.imgur.com/bjDO3oT.jpg") left;
    background-repeat: no-repeat;
    background-size: 80vw 110vh, 100vw 100vh;
  }

  .villain-details img {
    height: 73vh;
    margin: 5px;
  }

  .villain-details div {
    margin-top: 10px;
  }

  .question {
    font-size: 22px;
    margin-top: 3vh;
    height: 6vh;
  }

  .answer {
    font-size: 30px;
    color: green;
  }

  .background span {
    font-size: 20px;
  }

  .multiple-btn {
    display: flex;
    justify-content: flex-end;
    width: 30vw;
  }
  .edit-character {
    border: black solid 3px;
    background: none;
    height: 3vh;
    width: 13vw;
    font-size: 18px;
    font-family: "Permanent Marker", cursive;
    box-shadow: 10px 5px;
  }
}
