.home-big {
}

.hero-villain {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.pic-1 {
  border: 4px solid black;
  background: green;
  height: 25vh;
  overflow: hidden;
  margin: 4px;
}

.hero-villain img {
  width: 50vw;
}

.pic-2 {
  border: 4px solid black;
  background: green;
  height: 25vh;
  overflow: hidden;
  margin: 4px;
}

.desc-container {
  display: flex;
}

.desc {
  border: 4px solid black;
  background: blue;
  height: 25vh;
  width: 39vw;
  margin: 4px;
}

.desc img {
  width: 39vw;
  height: 25vh;
  overflow: hidden;
}

.desc p {
  position: absolute;
  top: 44.2%;
  width: 31vw;
  left: 5%;
  font-size: 31px;
  font-weight: 1000;
  height: 20vh;
  padding: 3px;
}

.are-you {
  border: 4px solid black;
  background: red;
  height: 25vh;
  width: 59vw;
  margin: 4px;
}

p {
  font-family: "Permanent Marker", cursive;
}

.are-you img {
  width: 30vw;
  height: 22vh;
}

.desc2-container {
  display: flex;
}

.desc2 {
  border: 4px solid black;
  background: yellow;
  height: 25vh;
  width: 59vw;
  margin: 4px;
}

.create-your-own {
  border: 4px solid black;
  background: whitesmoke;
  height: 25vh;
  width: 39vw;
  margin: 4px;
}
